* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

$primary-red: hsl(0, 78%, 62%);
$primary-cyan: hsl(180, 62%, 55%);
$primary-orange: hsl(34, 97%, 64%);
$primary-blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

body {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background-color: $very-light-gray;
}

@mixin top-border($color) {
    border-top: 5px solid $color;
}

.wrapper {
    height: 100vh;
    margin: 0 30px 0 30px;

    #card-feature {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        header {
            text-align: center;
            display: flex;
            flex-direction: column;
            margin-top: 70px;
            color: $very-dark-blue;
            margin-bottom: 50px;

            span {
                font-size: 2.4rem;
                font-weight: 200;
            }

            p {
                width: 100%;
                max-width: 500px;
                margin: 0 auto;
                color: $grayish-blue;
                margin-top: 20px;
            }
        }

        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 60px;

            .sec1 {
                margin: 0 30px 0 40px;
            }

            .sec3 {
                margin: 0 40px 0 30px;
            }

            .sec1,
            .sec3 {
                display: flex;
                align-items: center;
            }

            .card {
                width: 100%;
                max-width: 350px;
                height: 250px;
                border-radius: 7px;
                padding: 30px;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                box-shadow: 0px 29px 80px -50px rgba(90, 143, 166, 1);
                animation: loading 1s linear;

                @keyframes loading {
                    0% {
                        box-shadow: none;
                    }
                    100% {
                        box-shadow: 0px 29px 80px -50px rgba(90, 143, 166, 1);
                    }
                }

                span {
                    font-weight: 600;
                    color: $very-dark-blue;
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                    display: block;
                }

                p {
                    color: $grayish-blue;
                    line-height: 28px;
                    margin-bottom: 30px;
                }

                img {
                    align-self: flex-end;
                }
            }

            .supervisor {
                @include top-border($primary-cyan);
            }

            .team-builder {
                @include top-border($primary-red);
            }

            .karma {
                @include top-border($primary-orange);
            }

            .calculator {
                @include top-border($primary-blue);
            }
        }
    }
}
